:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --bg-color: rgb(243, 243, 243);
  --blue: #07c;
  --grey: rgba(0, 0, 0, 0.04);
  --grey-dark: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0px;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

#app {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
  font-size: 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

button {
  border: none;
  padding: 4px 8px;
  font-size: 1rem;
}

.is-invisible {
  opacity: 0;
  visibility: hidden;
}

.is-spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.text-truncate {
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
